/*  GENERAL */

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
 h1
 {
     font-family: Cambria,sans-serif;
     font-size: 45px;
 }




/* PARTICULIER */ 